---
import { type CollectionEntry, getCollection } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import "../../styles/markdown.css";
import ShareButton from "../../components/ShareButton.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={post.data.title}
      description={post.data.description}
      image={post.data.socialImage}
      content={"article"}
    />
  </head>
  <body class="bg-main">
    <Header />
    <article class="flex flex-col items-center mb-24">
      <ArticleCard
        {...post.data}
        slug={post.slug}
        heroImage={post.data.heroImage}
      >
        <div class="md">
          <Content />
        </div>
      </ArticleCard>
      <ShareButton />
    </article>
  </body>
</html>
