---
import BaseHead from "../components/BaseHead.astro";
import ChevronDownIcon from "../icons/ChevronDownIcon.astro";
import { getCollection } from "astro:content";
import ArticleCard from "../components/ArticleCard.astro";
import Header from "../components/Header.astro";
import { TITLE, DESCRIPTION } from "./siteInfo";
import SocialLinks from "../components/SocialLinks.astro";
import IndexSocialImage from "../content/images/index-social.png";
import { ViewTransitions } from "astro:transitions";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={TITLE}
      description={DESCRIPTION}
      content={"website"}
      image={IndexSocialImage}
    />
    <ViewTransitions />
  </head>
  <body class="bg-main">
    <div class="absolute top-0 w-full">
      <Header />
    </div>
    <div class="w-1/2 h-screen hidden lg:block whitespace-nowrap">
      <div class="flex justify-end flex-col w-full h-1/2 pr-8">
        <h1 class="text-main text-6xl text-right mb-4">Just dev thoughts</h1>
        <h2 class="text-main text-xl text-right mb-3">by Nikita Vasilev</h2>
        <SocialLinks />
      </div>
    </div>
    <div class="w-screen h-screen lg:hidden">
      <div class="flex justify-center items-center flex-col w-full h-full">
        <div class="flex flex-col items-end w-fit pb-24">
          <h1 class="text-main text-4xl text-right mb-3 md:text-6xl">
            Just dev thoughts
          </h1>
          <h2 class="text-main text-right mb-2 md:text-xl">
            by Nikita Vasilev
          </h2>
          <SocialLinks />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center absolute bottom-2 w-full items-center text-secondary"
    >
      <p>See all articles</p>
      <ChevronDownIcon />
    </div>
    <div class="flex flex-col items-center mt-16 mb-16 gap-12">
      {
        posts.map((post) => (
          <ArticleCard
            {...post.data}
            slug={post.slug}
            heroImage={post.data.heroImage}
          >
            {post.data.description}
          </ArticleCard>
        ))
      }
    </div>
  </body>
</html>
