---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import ResponsiveImage from "./ResponsiveImage.astro";

type Props = {
  updatedDate: Date;
  heroImage: ImageMetadata;
  imageAlt: string;
  title: string;
  pubDate: Date;
  slug: string;
  tags: string[];
};

const { title, pubDate, updatedDate, heroImage, slug, tags, imageAlt } =
  Astro.props;
---

<div class="max-w-3xl w-full bg-secondary md:rounded-lg overflow-hidden">
  <div class="relative">
    <a href={`/blog/${slug}/`}>
      <ResponsiveImage
        maxWidth={800}
        minWidth={400}
        image={heroImage}
        alt={imageAlt}
      />
      <h1
        class="pl-4 pt-4 pb-4 pr-4 md:pl-8 md:pr-8 text-4xl font-bold text-main p-4 absolute bottom-0 w-full backdrop-blur-xl bg-dark2/50"
      >
        {title}
      </h1>
    </a>
  </div>
  <div class="pl-4 pt-4 pb-4 pr-4 md:pl-8 md:pr-8 text-main text-lg">
    <div class="mb-4 text-base font-bold text-white/90">
      Posted on {pubDate.toLocaleDateString()}
    </div>
    <div class="mb-8 flex gap-2">
      {
        tags.map((tag) => (
          <span class="pl-3 pr-3 font-bold text-base p-1 rounded-md border border-dark3/30 bg-dark3/10 text-dark3">
            #{tag}
          </span>
        ))
      }
    </div>
    <p><slot /></p>
  </div>
</div>
